{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        
        {% if data['full-name'} %}
            <dd class="govuk-summary-list__value">{{data['full-name']}}</dd>
        {% else %}
            <dd class="govuk-summary-list__value">Joe Bloggs</dd>
        {% endif %}

        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../full-name">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>

        {% if data['date-of-birth-day'} %}
            <dd class="govuk-summary-list__value">{{data['date-of-birth-day']}} {{data['date-of-birth-month'] | friendlyMonths}} {{data['date-of-birth-year']}}</dd>
        {% else %}
        <dd class="govuk-summary-list__value">3 December 1990</dd>
        {% endif %}

        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../date-of-birth">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
        </div>
    </dl>

    
    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <form action="../../../instructions" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
            Accept and send
        </button>

    </form>

</div>
<div class="govuk-grid-column-full">

  <div class="how-it-works">

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-dob">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              What's happening behind the scenes
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p>Routes file being used</p>
        <pre class="app-code"><code>/apps/routes/routing-v2.js</code></pre>
      
        <p>Version set at the top of the routes file</p>
        
        <pre class="app-code"><code>var version = "v2";</code></pre>
  
        <p>When the page is requested, a friendly month is rendered using a filter (friendlyMonths)</p>

<pre class="app-code"><code>/apps/filters.js</code></pre>

<pre class="app-code"><code>filters.friendlyMonths = function(month) {
  var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  return months[month-1]
}</code></pre>

<p>We call the filter in the page</p>

<pre class="app-code"><code>{% raw %}{{ data['date-of-birth-month'] | friendlyMonths }}{% endraw %}</code></pre>

<p>How the version number gets pulled in</p>
      
<pre class="app-code"><code>// This route should go at the end of the file and is for passing the version variable
// back to the page for things like version tags, javascript routing or urls
router.get('/' + version + '*', function (req, res) {
  //Trim leading '/' from page requested url
  var page_requested = req.originalUrl;
  page_requested = page_requested.substring(1);

  res.render(page_requested, {
      'version': version,
  })
})</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}