{% extends "layout.html" %}

{% block pageTitle %}
What is your date of birth?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#date-of-birth-day">{{error}}</a>
                </li>
              </ul>
            </div>
          </div>
      {% endif %}

      <form method="post" novalidate>

        {% if error %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %}

        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your date of birth?
              </h1>
            </legend>
            <div id="date-of-birth-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>

            {% if error %}
            <p id="date-of-birth-name-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>{{error}}</p>
            {% endif %}

            <div class="govuk-date-input" id="date-of-birth">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" inputmode="numeric" value='{{data["date-of-birth-day"]}}'>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" inputmode="numeric" value='{{data["date-of-birth-month"]}}'>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" inputmode="numeric" value='{{data["date-of-birth-year"]}}'>
                </div>
              </div>
            </div>
        
          </fieldset>

          </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>


    </div>
</div>

{% endblock %}